<div>
    <div class="container" style="margin-top: 70px; margin-left: 200px;">
        
    <form  class="in-line" #Form ="ngForm" (ngSubmit)="Form.valid && modifySchedule(Form)">
        <div >
            <h1>SCHEDULE UPDATION</h1><br><br>

            <label>FLIGHT NUMBER</label>
            <input type="number" class="form-control" name="flightnumber" ngModel #flightnumberCtrl=ngModel required>
            <div *ngIf="flightnumberCtrl.errors!=null && flightnumberCtrl.errors.required">
            REQUIRED
            </div>

            <label>AVAILABLE SEATS</label>
            <input type="number" class="form-control" name="availableseats" ngModel #availableseatsCtrl=ngModel required>
            <div *ngIf="availableseatsCtrl.errors!=null && availableseatsCtrl.errors.required">
            REQUIRED
            </div>
            
        </div>
        
        <br>
        <div>
            <label>SOURCE AIRPORT</label>
            <input type="text" class="form-control" name="sourceairport" ngModel #sourceairportCtrl=ngModel required>
            <div *ngIf="sourceairportCtrl.errors!=null && sourceairportCtrl.errors.required">
                 Source is required
            </div>
        </div>
        <br>
        <div>
            <label>DESTINATION AIRPORT</label>
            <input type="text" class="form-control"  name="destinationairport" ngModel #destinationairportCtrl=ngModel required>
            <div *ngIf="destinationairportCtrl.errors!=null && destinationairportCtrl.errors.required">
                  Required
            </div>
        </div>
        <br>
        <div>
            <label>ARRIVAL TIME </label>
            <input type="datetime-local" class="form-control" name="arrivaltime" ngModel #arrivaltimeCtrl=ngModel required>
            <div *ngIf="arrivaltimeCtrl.errors!=null && arrivaltimeCtrl.errors.required">
                arrivaltime  required
            </div>
        </div>



        <div>
            <label>DEPARTURE TIME</label>
            <input type="datetime-local" class="form-control" name="departuretime" ngModel #departuretimeCtrl=ngModel required>
            <div *ngIf="departuretimeCtrl.errors!=null && departuretimeCtrl.errors.required">
                departuretime  required
            </div>
        </div>
        <br>
        
        
        <div>
            <button class="btn btn-success" type="submit" >Modify </button>
        </div>
        </form>
        </div>
    <br>
        <div *ngIf="modifiedSchedule!==null">
            <h3>Changes Successfull</h3> 
            {{modifiedSchedule.flightNumber}}
            
       </div>
    
        <br>
        <br>
        <li>Existing Details.
            <a href="" routerLink="../list-scheduledflight">schedule details</a>
        </li>   
        <br> 
        <li>Sign up
            <a href="" routerLink="../add-scheduledflights">schedule add</a>
        </li>    
         <br>
        <li>
            <a href="" routerLink="../">HOMEPAGE</a>
        </li>
        
    <br>
    <br>
    </div>
    
